<html lang="pt-br">
    <header>
        <title>
           Calculadora de frelas
        </title>
        <meta http-equiv="Content-Language" content="pt-br, en, fr, it">
        <meta charset="UTF-8">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
    </header>
<body>
    <h1> calculadora de frelas versão 0.1 rs</h1>
    <div id="app">
        quanto quer ganhar por mes liquido ? (depois de pagar as contas rs)
       <input v-model="salarioLiquido" v-on:input="salarioanual" type="text"><br>
       quer trabalhar quantas horas por dia ?
       <input v-model="horasDia" v-on:input="calculo" type="text"><br>
       quantos dias por semana ?
       <input v-model="diasSemana" v-on:input="calculo" type="text"><br>
       quantas semanas de ferias por ano ?
       <input v-model="semanaFerias" v-on:input="calculo" type="text"><br>
       quanto em despesas por mês?
       <input v-model="despesas" v-on:input="salarioanual" type="number"><br><br><br>
       sua hora tecnica é:
       <input type="text" :value="horaTecnica"><br>
       salario anual bruto estimado é:
       <input type="text" :value="lucroAno"><br><br>

        projeto<br>
       quantas horas por dia para esse projeto?
       <input type="text" v-model="jobHoras" :value="jobHoras" v-on:input="calcjobs"><br>       
       quantos dias para esse projeto ?<br>
       <input type="text" v-model="jobDias" :value="jobDias" v-on:input="calcjobs"><br>
        valor do job
       <input type="text" v-model="jobTotal" :value="jobTotal" ><br>

      </div>



<script type="text/javascript">
   new Vue({
        el: '#app',
        data: {
            salarioLiquido: '',
            horasDia: '',
            diasSemana: '',
            semanaFerias: '',
            despesas: '',
            horaTecnica: '',
            horasAno: '',
            lucroAno: '',
            jobDias: '',
            jobHoras: '',
            jobTotal: '',
            docs: 'http://vuejs.org'
        },
        methods: {
            salarioanual: function() {
                if(!this.despesas){
                    this.despesas = 0
                }
                this.lucroAno = (parseFloat(this.salarioLiquido) + parseFloat(this.despesas))*12
                this.calculo()
            },
            calculo: function() {
                
                if(!this.semanaFerias){
                    this.semanaFerias = 0
                }
                this.horasAno = this.horasDia*this.diasSemana*(48-this.semanaFerias)
                this.horaTecnica = (this.lucroAno/100*110)/this.horasAno
                this.salarioanual()
            },
            calcjobs: function () {
                if(!this.jobHoras){
                    this.jobHoras = 0
                }
                if(!this.jobDias){
                    this.jobDias = 0
                }
                this.jobTotal = this.horaTecnica*this.jobHoras*this.jobDias
            }       
        }
    })
</script>
</body>
</html>